@import 'variables';

body {
  color: #b39214;
  transition: background-color 800ms;
}

.mobile_menu .inner {
  background-image: linear-gradient(to left, white 0%, white 70%, rgba(255,255,255,0));
}

.mobile_menu .inner .menu ul li a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  border-top: 4px solid #b39214;
  transition: width 300ms ease-out;
}

.mobile_menu .inner .menu ul li a:after {
  content: '';
  position: absolute;
  top: 100%;
  right: 0;
  width: 0;
  border-bottom: 4px solid #b39214;
  transition: width 300ms ease-out;
}

.mobile_menu .inner .menu ul li a:hover {
  color: #b39214;
}

.logo {
  overflow: visible;
  width: 100vw;
  height: 80px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#main {
  height: 100vh;
}

#main .inside {
  height: 100%;
}

.home-article {
  width: 100%;
  height: 100%;
}

.headline {
  font-family: "Source Sans Pro", monospace;
  font-size: 80px;
  text-align: center;
  padding: 4px 0;
  margin: 0;
  font-weight: 800;
  letter-spacing: -4px;
  line-height: 1em;
  position: relative;
  text-transform: uppercase;
  background: url("../layout/gold5.png") 310px 155px;
  color: transparent;
  -webkit-background-clip: text;
  overflow: visible;
  float: left;
}

.headline-left {
  width: 47%;
  transform: translateX(-1500px);
  animation: slide-in-left 450ms 1500ms forwards;
  text-align: right;
}

.headline-right {
  transform: translateX(1500px);
  animation: slide-in-right 450ms 1500ms forwards;
  text-align: left;
}

a {
  text-decoration: none;
  color: #b39214;
  font-size: 40px;
  font-weight: 500;
  transition: color 0.3s;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:focus {
  text-decoration: none;
  outline: none;
}

.invisible {
  display: none;
}

.peek {
  pointer-events: none;
}

.peek-img {
  position: fixed;
  opacity: 0;
  bottom: 2vh;
  left: 30vw;
  transform: translateY(-5%) translateX(-7%);
  transition: opacity 350ms, transform 650ms ease-out;
  z-index: -1;
  img {
    width: 400px;
    max-width: initial;
  }
}

.peek-crop {
  position: fixed;
  opacity: 0;
  top: 10vw;
  right: 10vw;
  transform: translateY(15%) translateX(-2%);
  transition: opacity 350ms, transform 650ms ease-out;
  z-index: -1;
}

.peek-vid {
  position: fixed;
  opacity: 0;
  top: 2vw;
  left: 2vw;
  transform: translateY(8%) translateX(3%);
  transition: opacity 350ms, transform 650ms ease-out;
  z-index: -1;
  video {
    height: 50vh;
    width: auto;
  }
}

.floating {
  position: absolute;
  a:hover {
    color: white;
  }
}

#link-performance {
  opacity: 0;
  width: 250px;
  top: 10vh;
  left: 4vw;
  animation: letters-fade  250ms ease-out 2500ms forwards;
  a {
    color: #ef6078;
  }
}

#link-theater {
  opacity: 0;
  width: 210px;
  top: 64vh;
  left: 15vw;
  animation: letters-fade  250ms ease-out 3000ms forwards;
  a {
    color: $theater;
  }
}

#link-immersive {
  opacity: 0;
  width: 325px;
  top: 65vh;
  left: 70vw;
  animation: letters-fade  250ms ease-out 3500ms forwards;
  a {
    color: $immersive;
  }
}

#link-teaching {
  opacity: 0;
  width: 200px;
  top: 25vh;
  left: 80vw;
  animation: letters-fade  250ms ease-out 4000ms forwards;
  a {
    color: $teaching;
  }
}

#link-old {
  opacity: 0;
  width: 220px;
  top: 20vh;
  left: 45vw;
  animation: letters-fade  250ms ease-out 4500ms forwards;
  a {
    color: $old-stuff;
  }
}

.overflow {
  position: fixed;
  top: 0;
  left: 0;
  overflow: visible;
  font-size: 20px;
  width: 100vw;
  height: 100vh;
  text-transform: uppercase;
}

.rsts-skin-default .rsts-prev, .rsts-skin-default .rsts-next, .rsts-skin-default .rsts-video-play, .rsts-skin-default .rsts-video-stop, .rsts-skin-default .rsts-thumbs-prev, .rsts-skin-default .rsts-thumbs-next {
  background-color: #b39214;
}